<div class="content-wrapper d-flex align-items-center auth login-full-bg" style="height:100%">
    <div class="row1 w-100">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-dark text-left p-5">
                <h2>{{'lblResetPassword'| translate:service.CL}}</h2>
                <form class="pt-3" [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPasswordForm.valid && ResetPassword()" #f="ngForm" novalidate>
                    <div class="form-group mb-3" style="font-size:14px;">
                        {{'lblUserName'| translate:service.CL}} :  <strong>{{UserName}}</strong>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error-login': f.submitted && !ResetPasswordForm.controls.password.valid }">
                        <input type="password" autofocus class="form-control" placeholder="{{'lblPassword'| translate:service.CL}}" formControlName="password">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error-login': f.submitted && !ResetPasswordForm.controls.confirmPassword.valid }">
                        <input type="password" class="form-control" placeholder="{{'lblConfirmPassword'| translate:service.CL}}" formControlName="confirmPassword">
                        <i class="fa fa-eye"></i>
                        <span class="text-danger" *ngIf="f.submitted && ResetPasswordForm.controls.confirmPassword.errors?.MatchPassword">{{'lblPasswordNotMatch'| translate:service.CL}}</span>
                    </div>
                    <div class="mt-5">
                        <button [disabled]="isLoading" class="btn btn-block btn-warning btn-lg font-weight-medium" type="submit">
                            <i *ngIf="isLoading" class="fa fa-circle-notch fa-spin"></i>
                            {{'btnResetPassword'| translate:service.CL}}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
