
<modal-dialog #modalRow [backDrop]="false" modalClass="modal-lg" [modalHeader]="HeaderText| translate:service.CL">
    <div *ngIf="ModuleType == 'history'" class="modal-body">
        <div class="form-box row">
            <div class="col-12 col-md-12">
                <div class="form-group mb-2">
                    <div class="card">
                        <div class="card-body bg-main-body border p-3 font-20">
                            <div class="font-18 mb-1">{{model?.DisplayHistoryID}} - {{model?.Hash}} </div>
                            <div class="font-13 mb-1">
                                {{'lblCreatedOn'| translate:service.CL}} {{model?.CreatedDate | date : 'dd-MMM-yyyy HH:mm'}}
                            </div>
                            <button *ngIf="model?.Is_FCR == true" type="button" class="badge badge-primary float-right"><i class="fa fa-bookmark mr-1"></i> {{'lblFCRMarked'| translate:service.CL}}</button>
                            <mark class="font-14">
                                {{'lblStatus'| translate:service.CL}} : <span class="font-weight-bold">{{model?.StatusName}}</span>
                            </mark>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group row mb-2">
                    <label class="col-5 col-md-4 col-form-label">{{'lblRequester'| translate:service.CL}} </label>
                    <div class="col-7 col-md-8 col-form-label">
                        <b>{{model?.RequestedName}}</b>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group row mb-2">
                    <label class="col-5 col-md-4 col-form-label">{{'lblTechnician'| translate:service.CL}} </label>
                    <div class="col-7 col-md-8 col-form-label">
                        <b>{{model?.AssignedName}}</b>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group row mb-2">
                    <label class="col-5 col-md-4 col-form-label">{{'lblScanType'| translate:service.CL}}</label>
                    <div class="col-7 col-md-8 col-form-label">
                        <b>{{model?.ScanTypeName}}</b>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group row mb-2">
                    <label class="col-5 col-md-4 col-form-label">{{'lblHash'| translate:service.CL}}</label>
                    <div class="col-7 col-md-8 col-form-label">
                        <b>{{model?.HashName}}</b>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="modal-footer form-btn">
        <button type="button" class="btn btn-secondary" (click)="modalRow.close()">{{'btnClose'| translate:service.CL}}</button>
    </div>
</modal-dialog>

