
<modal-dialog #modalChangePwd [backDrop]="false" modalClass="modal-md" modalHeader="{{'lblChangePassword' | translate:service.CL}}">
    <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePasswordForm.valid && ChangePassword()" #f="ngForm" novalidate>
        <div class="modal-body">
            <div class="form-box row">
                <div class="col-12 form-group">
                    {{'lblUserName'| translate:service.CL}}  :  <strong>{{UserName}}</strong>
                </div>
                <div class="col-12 form-group" [ngClass]="{ 'has-error': f.submitted && !ChangePasswordForm.controls.password.valid }">
                    <input type="password" autofocus class="form-control" placeholder="{{'lblPassword'| translate:service.CL}}" formControlName="password">
                </div>
                <div class="col-12 form-group" [ngClass]="{ 'has-error': f.submitted && !ChangePasswordForm.controls.confirmPassword.valid }">
                    <input type="password" class="form-control" placeholder="{{'lblConfirmPassword'| translate:service.CL}}" formControlName="confirmPassword">
                    <span class="text-danger" *ngIf="f.submitted && ChangePasswordForm.controls.confirmPassword.errors?.MatchPassword">{{'lblPasswordNotMatch'| translate:service.CL}}</span>
                </div>               
            </div>
        </div>
        <div class="modal-footer form-btn">
            <button type="submit" [disabled]="isLoading" class="btn btn-sm btn-teal">
                <i *ngIf="isLoading" class="fa fa-circle-notch fa-spin"></i>
                {{'btnChangePassword'| translate:service.CL}}
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="modalChangePwd.close()">{{'btnCancel'| translate:service.CL}}</button>
        </div>
    </form>
</modal-dialog>
