
<div class="main-panel" style="width:100%;">
    <div class="row breadcrumb">
        <div class="col-12 col-md-6 title">
            {{header_title | translate:service.CL}}
        </div>
        <div class="col-12 col-md-6">
            <a class="link" routerLink="/">{{'lblHome'| translate:service.CL}}</a> <i class="fa fa-angle-double-right"></i>
            <a class="link" routerLink="/admin">{{'lblAdminSetting'| translate:service.CL}}</a> <i class="fa fa-angle-double-right"></i>
            <span>{{'lblUserManagement'| translate:service.CL}}</span>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div [hidden]="Is_Edit_Form" class="card-body">
                        <div class="table-header">
                            <div>
                                <button type="button" class="btn btn-sm btn-secondary" title="{{'tlpRefresh'| translate:service.CL}}" (click)="txtSearch='';refreshGrid();"><i class="fa fa-sync"></i></button>

                                <button type="button" *ngIf="service?.Account?.Is_Add_Admin" (click)="AddRow()" class="btn btn-sm btn-warning" title="{{'tlpAddNew'| translate:service.CL}}"><i class="fa fa-plus"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Edit_Admin" (click)="EditRow()" class="btn btn-sm btn-primary" title="{{'tlpEdit'| translate:service.CL}}"><i class="fa fa-pencil-alt"></i></button>
                                <button type="button" *ngIf="service?.Account?.Is_Delete_Admin" (click)="DeleteRow()" class="btn btn-sm btn-danger" title="{{'tlpDelete'| translate:service.CL}}"><i class="fa fa-trash"></i></button>

                                <button type="button" (click)="ActiveDeActiveUser()" class="btn btn-sm btn-info" title="{{'tlpActiveDeActiveUser'| translate:service.CL}}"><i class="fa fa-user-times"></i></button>
                                <button type="button" (click)="ResetDefaultPassword()" class="btn btn-sm btn-info" title="{{'tlpResetPasswordToDefaultPassword'| translate:service.CL}}"><i class="fa fa-eye-slash"></i></button>
                            </div>
                            <div class="table-filter">
                                <input type="text" *ngIf="service?.Account?.Is_Admin_Search" class="form-control form-control-sm" name="filter" placeholder="{{'phSearch'| translate:service.CL}}" [(ngModel)]="txtSearch" (keyup)="service.App.searchFilter.emit($event.target.value);">
                                <div class="dropdown dropleft" *ngIf="service?.Account?.Is_ColumnChooser_Visible">
                                    <button class="btn btn-sm btn-secondary" data-toggle="dropdown" title="{{'tlpColumnChooser'| translate:service.CL}}" type="button">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu" (click)="$event.stopPropagation()">
                                        <li *ngFor="let filter of gridFilter;let i = index;" class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chkfltr-{{i}}" [(ngModel)]="filter.Is_Visible" (change)="filter.Is_Visible != $event.target.value;">
                                                <label class="custom-control-label" for="chkfltr-{{i}}">
                                                    <span *ngIf="filter.ColumnName == 'ProfilePicture'">{{'lblProfilePicture'| translate:service.CL}}</span>
                                                    <span *ngIf="filter.ColumnName != 'ProfilePicture'">{{filter.DisplayText}}</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="position:relative;">
                            <commongrid *ngIf="allItems.length > 0" [records]="allItems" [gridfilter]="gridFilter" [SearchText]="txtSearch"
                                        [pagesize]="10" (change)="pageChanged($event)" [ShowSorting]="true"
                                        [PagingType]="'nextprevnumberadvanced'" [ShowPagesize]="true" [ShowFilter]="true" [ShowCheckbox]="true"
                                        [Edit]="true" (EditRow)="service?.Account?.Is_EditRow_On_DoubleClick && EditRowDBClick($event)">
                            </commongrid>                           
                            <div class="nodata" *ngIf="!isLoading && allItems.length == 0">
                                <span>{{'lblNoData'| translate:service.CL}}</span>
                            </div>
                        </div>
                        <div *ngIf="isLoading" class="overlay-inner">
                            <i class="fa fa-circle-notch fa-spin"></i>
                        </div>
                    </div>


                    <div [hidden]="!Is_Edit_Form" class="card-body">                        
                        <form [formGroup]="UserManagementForm" (ngSubmit)="UserManagementForm.valid && SaveUserManagement()" #f="ngForm" novalidate>
                            <div *ngIf="Is_Edit_Form" class="card-title">
                                <button type="submit" class="btn btn-sm btn-teal"><i class="fa fa-save mr-1"></i>{{'btnSave'| translate:service.CL}}</button>
                                <button *ngIf="service?.Account?.Is_Show_ClientPortal_Link && service?.Account?.Is_Agent" type="button" class="btn btn-sm btn-secondary" (click)="BackToList();"><i class="fa fa-times mr-1"></i>{{'btnCancel'| translate:service.CL}}</button>
                                <a *ngIf="!service?.Account?.Is_Show_ClientPortal_Link && !service?.Account?.Is_Agent" routerLink="/" class="btn btn-sm btn-secondary"><i class="fa fa-trash mr-1"></i>{{'btnCancel'| translate:service.CL}}</a>
                            </div>
                            <div class="modal-body1">
                                <div class="form-box row1">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-3 mb-3 text-center border pt-2 pb-2 dv-profile-left">
                                                <div class="m-card-profile__pic-wrapper">
                                                    <img *ngIf="imageUrl" class="img-fluid" [src]="imageUrl" style="width:160px;" />
                                                </div>
                                                <h4>{{displayName.value}}</h4>
                                                <p class="font-13"><a href="mailto:{{email.value}}">{{email.value}}</a></p>

                                                <button type="button" class="btn btn-info btn-sm mt-2" (click)="flProfilepic.click();">{{'lblChooseProfilePicture'| translate:service.CL}}</button>
                                                <input type="hidden" formControlName="ProfilePicture" />
                                                <input #flProfilepic type="file" class="hide" (change)="fileChange($event)" accept="image/*">
                                            </div>                                            
                                            <div class="col-12 col-sm-8 col-md-9 dv-profile-right">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 form-group" [ngClass]="{'has-error': f.submitted && !UserManagementForm.controls.DisplayName.valid}">
                                                        <label>{{'lblDisplayName'| translate:service.CL}}</label>
                                                        <input type="text" #displayName class="form-control" autofocus formControlName="DisplayName" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblDisplayName'| translate:service.CL}}" />
                                                    </div>
                                                    <div class="col-12 col-md-6 form-group" [ngClass]="{'has-error': f.submitted && !UserManagementForm.controls.UserName.valid}">
                                                        <label>{{'lblUserName'| translate:service.CL}}</label>
                                                        <input type="text" class="form-control" formControlName="UserName" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblUserName'| translate:service.CL}}" />
                                                    </div>
                                                    <div class="col-12 col-md-6 form-group" [ngClass]="{'has-error': f.submitted && !UserManagementForm.controls.Email.valid}">
                                                        <label>{{'lblEmail'| translate:service.CL}}</label>
                                                        <input type="email" #email class="form-control" formControlName="Email" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblEmail'| translate:service.CL}}" />
                                                    </div>
                                                    <div class="col-12 col-md-6 form-group" [ngClass]="{'has-error': f.submitted && !UserManagementForm.controls.Password.valid}">
                                                        <label>{{'lblPassword'| translate:service.CL}}</label>
                                                        <input type="password" class="form-control" formControlName="Password" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblPassword'| translate:service.CL}}" />
                                                    </div>
                                                    <div class="col-12 col-md-6 form-group" [ngClass]="{'has-error': f.submitted && !UserManagementForm.controls.RoleID.valid}">
                                                        <label>{{'lblRole'| translate:service.CL}}</label>
                                                        <select class="form-control" formControlName="RoleID">
                                                            <option value="0">{{'lblSelect'| translate:service.CL}}</option>
                                                            <option *ngFor="let item of RoleList" [value]="item.Value">{{item.Key}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-md-6 form-group">
                                                        <label>{{'lblPhoneNo'| translate:service.CL}}</label>
                                                        <input type="text" class="form-control" formControlName="PhoneNo" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblPhoneNo'| translate:service.CL}}" />
                                                    </div>
                                                    <div class="col-12 col-md-6 form-group">
                                                        <label>{{'lblDescription'| translate:service.CL}}</label>
                                                        <textarea class="form-control" formControlName="Description" placeholder="{{'lblEnter'| translate:service.CL}} {{'lblDescription'| translate:service.CL}}"></textarea>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input id="frmIs_SendMail_Password" type="checkbox" formControlName="Is_SendMail_Password" class="custom-control-input">
                                                            <label class="custom-control-label" for="frmIs_SendMail_Password">{{'lblSendPasswordInMail'| translate:service.CL}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input id="frmIs_Active" type="checkbox" formControlName="Is_Active" class="custom-control-input">
                                                            <label class="custom-control-label" for="frmIs_Active">{{'lblIsActive'| translate:service.CL}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Is_Edit_Form" class="modal-footer form-btn mt-4 pb-0 prl-0">
                                <button type="submit" class="btn btn-sm btn-teal"><i class="fa fa-save mr-1"></i>{{'btnSave'| translate:service.CL}}</button>
                                <button *ngIf="service?.Account?.Is_Show_ClientPortal_Link && service?.Account?.Is_Agent" type="button" class="btn btn-sm btn-secondary" (click)="BackToList();"><i class="fa fa-times mr-1"></i>{{'btnCancel'| translate:service.CL}}</button>
                                <a *ngIf="!service?.Account?.Is_Show_ClientPortal_Link && !service?.Account?.Is_Agent" routerLink="/" class="btn btn-sm btn-secondary"><i class="fa fa-trash mr-1"></i>{{'btnCancel'| translate:service.CL}}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>