<nav class="sidebar sidebar-main sidebar-offcanvas" [ngClass]="service?.menu_Model?.Main_Menu_Class">
    <ul class="nav" *ngIf="service?.Account?.Is_Agent">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="service?.ShowHide_LeftMenu();">
                <span class="menu-title"> <i class="fa fa-home"></i> {{'lblHome'| translate:service.CL}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="service?.Account?.Show_History_Menu" class="nav-link" routerLink="/history" routerLinkActive="active" (click)="service?.ShowHide_LeftMenu();">
                <span class="menu-title"> <i class="fa fa-history-alt"></i> {{'lblHistory'| translate:service.CL}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="service?.Account?.Show_Admin_Menu" class="nav-link" routerLink="/admin" routerLinkActive="active" (click)="service?.ShowHide_LeftMenu();">
                <span class="menu-title"> <i class="fa fa-cog"></i> {{'lblAdminSetting'| translate:service.CL}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="service?.Account?.Show_Report_Menu" class="nav-link" routerLink="/" routerLinkActive="active" (click)="service?.ShowHide_LeftMenu();">
                <span class="menu-title"> <i class="fa fa-chart-bar"></i> {{'lblReports'| translate:service.CL}}</span>
            </a>
        </li>
    </ul>

<!-- For Client Menus -->
    <ul class="nav" *ngIf="!service?.Account?.Is_Agent">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="service?.ShowHide_LeftMenu();">
                <span class="menu-title"> <i class="fa fa-home"></i> {{'lblHome'| translate:service.CL}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="service?.Account?.Show_History_Menu_Client" class="nav-link" routerLink="/history" routerLinkActive="active" (click)="service?.ShowHide_LeftMenu();">
                <span class="menu-title"> <i class="fa fa-history-alt"></i> {{'lblHistory'| translate:service.CL}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="service?.Account?.Is_Profile_Visible_Client" routerLink="/profile" routerLinkActive="active" class="nav-link" (click)="service?.ShowHide_LeftMenu();">
                <i class="fa fa-user"></i>{{'lblMyProfile'| translate:service.CL}}
            </a>
        </li>
    </ul>

</nav>