

<div *ngIf="IsSignupForm || IsForgotPwdForm" class="content-wrapper d-flex align-items-center auth login-full-bg" style="height:100%">
    <div class="row1 w-100">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-dark text-left p-5">
                <h2 *ngIf="IsSignupForm">{{'lblSignup'| translate:service.CL}}</h2>
                <h4 *ngIf="IsSignupForm" class="font-weight-light">{{'lblSignupSubTitle' | translate:service.CL}}</h4>
                <form *ngIf="IsSignupForm" class="pt-4" [formGroup]="SignupForm" (ngSubmit)="SignupForm.valid && Signup()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error-signup': f.submitted && !SignupForm.controls.username.valid }">
                        <input type="text" autofocus class="form-control" placeholder="{{'lblUsername'| translate:service.CL}}" formControlName="username">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error-signup': f.submitted && !SignupForm.controls.displayName.valid }">
                        <input type="text" autofocus class="form-control" placeholder="{{'lblDisplayName'| translate:service.CL}}" formControlName="displayName">
                        <i class="fa fa-user"></i>
                    </div>                    
                    <div class="form-group" [ngClass]="{ 'has-error-signup': f.submitted && !SignupForm.controls.email.valid }">
                        <input type="text" autofocus class="form-control" placeholder="{{'lblEmail'| translate:service.CL}}" formControlName="email">
                        <i class="fa fa-user"></i>
                    </div>                    
                    <div class="form-group" [ngClass]="{ 'has-error-signup': f.submitted && !SignupForm.controls.phoneNo.valid }">
                        <input type="text" autofocus class="form-control" placeholder="{{'lblPhoneNo'| translate:service.CL}}" formControlName="phoneNo">
                        <i class="fa fa-user"></i>
                    </div>                    

                    <div class="form-group" [ngClass]="{ 'has-error-signup': f.submitted && !SignupForm.controls.password.valid }">
                        <input type="password" class="form-control" placeholder="{{'lblPassword'| translate:service.CL}}" formControlName="password">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error-signup': f.submitted && !SignupForm.controls.confirm_password.valid }">
                        <input type="password" class="form-control" placeholder="{{'lblConfirmPassword'| translate:service.CL}}" formControlName="confirm_password">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="mt-5">
                        <button [disabled]="isLoading" class="btn btn-block btn-warning btn-lg font-weight-medium" type="submit">
                            <i *ngIf="isLoading" class="fa fa-circle-notch fa-spin"></i>
                            {{'btnSignup'| translate:service.CL}}
                        </button>
                    </div>
                    <div class="mt-3 text-center">
                        <a class="auth-link text-white cursor" (click)="RedirectToLogin()">{{'lblLoginInstead'| translate:service.CL}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


